#userpointsbody{
	background-color: white;
	height: 75px;
	width: 230px;
	border: 2px solid black;
	font-weight: bold;
}
#userpoints{
	height: 74.5%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-color: #0191ca;
	background-repeat:no-repeat;
	background: -webkit-linear-gradient(top, #d9d9d9, #4d4d4d);
	background: -moz-linear-gradient(top, #d9d9d9, #4d4d4d);
	background: -ms-linear-gradient(top, #d9d9d9, #4d4d4d);
	background: linear-gradient(top, #d9d9d9, #4d4d4d);
	font-size:50px;
	
}
#correctbody{
	background: linear-gradient(top, #00ceff, #01cab9);
	width: 100px;
	height: 100px;
	border: 2px solid black;
}
#correctnumber{
	background-color: lightblue;
	width: 100px;
	height: 50px;
	font-size:50px;
}
#correctheader{
	background-color: white;
	width: 100px;
	height: 20px;
	font-weight: bold;
}
#incorrectbody{
	background-color: #0191ca;
	width: 100px;
	height: 100px;
	border: 2px solid black;
}
#incorrectnumber{
	background-color: lightblue;
	width: 100px;
	height: 50px;
	font-size:50px;
}
#incorrectheader{
	background-color: white;
	width: 100px;
	height: 20px;
	font-weight: bold;
}
#button{
	text-align: center;
}
#resetscore{
	text-align: left;
}
#main{
	text-align: center;
}

#game {
	padding: 0;
	margin: 4px;
	background-color: #00ceff;
	background: -webkit-linear-gradient(top, #00ceff, #01cab9);
	background: -moz-linear-gradient(top, #00ceff, #01cab9);
	background: -ms-linear-gradient(top, #00ceff, #01cab9);
	background: linear-gradient(top, #00ceff, #01cab9);
}
#jepq{
	-webkit-opacity: 0.1;
	-moz-opacity: 0.1;
	opacity: 0.1;
}
#jepq:hover{
	-webkit-opacity: 0.25;
	-moz-opacity: 0.25;
	opacity: 1;
	-moz-transition: all 5s ease;
	-ms-transition: all 5s ease;
	-o-transition: all 5s ease;
	transition: all 5s ease;
}
h1{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}
html{
	height: 140%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-color: #0191ca;
	background-repeat:no-repeat;
	background: -webkit-linear-gradient(top, #0191ca, #01fdff);
	background: -moz-linear-gradient(top, #0191ca, #01fdff);
	background: -ms-linear-gradient(top, #0191ca, #01fdff);
	background: linear-gradient(top, #0191ca, #01fdff);
}
p{
	font-weight: bold;
	font-size: 20px;
	text-align: left;
}
h2{
	font-weight: bold;
	font-size: 30px;
}

header{
	text-align: center;
}
footer{
	text-align: center;
}
#game>header {
	padding: 0 0.5em;
	font-size: 1.5em;
	color: WhiteSmoke;
	background-color: black;
}
#game>footer {
	padding: 0 0.5em;
	font-size: 1.5em;
	color: WhiteSmoke;
	background-color: black;
}