<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
	<httpProtocol>
		<customerHeaders>
			<add name="Access-Control-Allow-Origin" value="https://forecast-v3.weather.gov/point/" />
		</customerHeaders>
	</httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
     </staticContent>
    </system.webServer>
</configuration> 
