 #app
{
    background-color: #cbb;
    background: -webkit-linear-gradient(top, #db9, #f60);
    background: -moz-linear-gradient(top, #db9, #f60);
    background: -ms-linear-gradient(top, #db9, #f60);
    background: linear-gradient(top, #db9, #f60);
}
#app>header,
#app>footer
{
    background-color: #f60;
}
